.dashboard-title {
    font-size: 18pt;
    background-color: #AAAAFF;
    padding: 10px;
}

.card-row {
    display: flex;
}

.card-column {
    display: flex;
    flex-direction: column;
}

iframe {
    border: none;
}

.widget {
    display: flex;
    align-items: center;
}